html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    padding: 0 100px;
    margin: 0;
}

#Container {
  min-height: 100%;
  position: relative;
}

h1 {
    margin-top: 0;
    padding-top: 10px;
    text-align: center;
}

#Content {
    width: 600px;
    margin: auto;
    padding-bottom: 100px;
}

img.beer-pic {
    height: 150px;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 12px;
  text-align: center;
}
footer div.info {
  position: absolute;
  bottom: 0;
  left: 100px;
}
footer div.info .copywrite {
  float: left;
}
footer div.info ul.nav {
  list-style: none;
  margin-bottom: 0;
  float: left;
}
footer div.info ul.nav li {
  float: left;
  margin-left: 5px;
}
footer img {
  width: 37px;
  height: 26px;
  width: 37px;
  height: 26px;
}